<div class="container-fluid mt-5" id="about">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

      <h1 class="main-heading text-center">About</h1>

      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-0">
            <figure>
              <img src="/myImages/—Pngtree—hand drawn cartoon computer video_5364437.png" alt="Hero section image" class="first_png">
            </figure>
          </div>

          {{!-- risght div  --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1 class="firstH1" id="secondH1">Dedicated to web developing and programming.</h1>
            <p id="firstP">Currently doing b.tech cse in Amity University and learning new skills on my own. Skills know - HTML, CSS, Javascript, React, MongoDB, Node.js, Express, HBS, PUG, Pyhon, C++.<span class="bold-style"> Join and become a part with me</span></p>

             <a href="/contact">
            <button class="btn-style btn-primary firstBtn" >Contact Me</button>
            </a>
          </div>
          

        </div>

    </div>
  </div>
</div>