@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#first_png{
  height: 1005;
  width: 100%;
}

.firstH1{
  font-family: 'Codystar', cursive;
  font-weight: bold;
}
#secondH1{
  color: purple;
}
#logo{
  color: #fd725e;
}
#firstP{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#firstP span{
  color: black;
  font-weight: bolder;
}
.firstBtn{
  background-color: #fd725e;
  outline: none;
}
.firstBtn:hover{
  background-color: #a448a4;
}