@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

html{
  scroll-behavior: smooth;
}

.first_png{
  height: 1005;
  width: 100%;
}

.firstH1{
  font-family: 'Codystar', cursive;
  font-weight: bold;
}
#secondH1{
  color: purple;
}
#logo{
  color: #fd725e;
}
#firstP{
  font-family: 'Bad Script', cursive;
  font-size: 1.5rem;
}
#firstP span{
  color: black;
  font-weight: bolder;
}
.firstBtn{
  background-color: #fd725e;
  border: none;
}
.firstBtn:hover{
  background-color: #a448a4;
}


.main-heading{
  color:  #fd725e;
  font-weight: bold;
  font-family: 'Codystar', cursive;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.289);
}

.declaration{
  font-family: 0.7rem;
  font-weight: lighter;
}







